* {
    background-color: tan;
}

img #center {
    height: auto;
    width: 500px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 #center {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}
h2,h3,h4 {
    color:lightseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;

}