* {
    background-color: tan;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: auto;
}
p {
    color: black;
    font-family: cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}
