* {
    background-color: tan;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: auto;
}
li {
    color: aqua;
    font-family: cursive, sans-serif;
    text-align: justify;
}
